<div class="h-100" [ngClass]="noteClass">
	<p contenteditable [(appContenteditableModel)]="note.description"
	(blur)="updateNote()"
	(keydown)="note.description = $event.target.textContent; updateNote($event)"
	(paste)="updateNote($event); note.description = $event.target.textContent"
	[ngbPopover]="descMaxLength + ' characters maximum'" triggers="manual" #p="ngbPopover"
	(click)="p.open()"
	popoverTitle=""
	container="body"></p>
	<p>{{note?.notificationDate | date}}</p>
	<ngb-datepicker #d></ngb-datepicker>
	<p *ngIf="note.description || note.notificationDate" class="material-icons app-delete-icon" (click)="deleteNote()">delete</p>
</div>
