.app-vi-note {
	background-color: orange;
	padding: 10px 15px;
	overflow: hidden;
}

.app-vi-note-empty {
	min-height: 124px;
	background-color: #ffe4b3;
	padding: 10px 15px;
	overflow: hidden;
}

.app-ai-note {
	background-color: teal;
	padding: 10px 15px;
	overflow: hidden;
}

.app-ai-note-empty {
	min-height: 124px;
	background-color: #b3d9d9;
	padding: 10px 15px;
	overflow: hidden;
}

.app-wal-note {
	background-color: #0a0;
	padding: 10px 15px;
	overflow: hidden;
}

.app-wal-note-empty {
	min-height: 124px;
	background-color: #b3e6b3;
	padding: 10px 15px;
	overflow: hidden;
}

.app-l-note {
	background-color: silver;
	padding: 10px 15px;
	overflow: hidden;
}

.app-l-note-empty {
	min-height: 124px;
	background-color: #ececec;
	padding: 10px 15px;
	overflow: hidden;
}

.app-delete-icon {
	display: none;
	display: inline;
	position: absolute;
	bottom: 0px;
	right: 16px;
	font-size: 2em;
	opacity: .3;
}

div:hover .app-delete-icon:hover {
	opacity: 1;
	cursor: pointer;
}

.app-shadow {
	box-shadow: 2px 2px 3px #ccc;
	position: relative;
}

/*OMG, OMG, I DID IT WITH PURE CSS ONLY!!
Showing 'Click here to add' on empty notes,
and then immediately hide this message if user start to typing.
But I don't know, wy
div.[class*="empty"] p[contenteditable]::after
don't working */
div.app-vi-note-empty p[contenteditable]::after,
div.app-ai-note-empty p[contenteditable]::after,
div.app-wal-note-empty p[contenteditable]::after,
div.app-l-note-empty p[contenteditable]::after {
	content: 'Click here to add';
	cursor: pointer;
	opacity: .3;
}

div.app-vi-note-empty p[contenteditable]:focus::after,
div.app-ai-note-empty p[contenteditable]:focus::after,
div.app-wal-note-empty p[contenteditable]:focus::after,
div.app-l-note-empty p[contenteditable]:focus::after {
	content: '';
}

div.app-vi-note-empty button,
div.app-ai-note-empty button,
div.app-wal-note-empty button,
div.app-l-note-empty button {
	opacity: .3;
}

button span.material-icons {
	font-size: 1em;
}
