<div class="h-100 app-shadow" [ngClass]="(note.description || note.notificationDate) ? noteClass.noteExist : noteClass.noteEmpty">
	<p contenteditable [(appContenteditableModel)]="note.description"
	(blur)="updateNote()"
	(keydown)="note.description = $event.target.textContent; updateNote($event)"
	(paste)="updateNote($event); note.description = $event.target.textContent"
	[ngbPopover]="descMaxLength + ' characters maximum'" triggers="manual" #p="ngbPopover"
	(click)="p.open()"
	popoverTitle=""
	container="body"></p>
	
	<ng-template #popDate>
		<ngb-datepicker
			(select)="onDateSelect($event)"
			autoClose="true">
		</ngb-datepicker>
	</ng-template>

	<ng-template #popTime>
		<ngb-timepicker [spinners]="true" [(ngModel)]="time"></ngb-timepicker>
	</ng-template>
	
	<div class="btn-group btn-group-sm" role="group" aria-label="Date select">
		
		<!-- Date and datepicker -->
		<button class="btn btn-outline-dark btn-sm"
			[ngbPopover]="popDate" container="body"
			placement="right"
			(click)="selectDateTime()"
			[disabled]="isDisabled()">
			<span class="material-icons">event</span>
			{{note?.notificationDate | date}}
		</button>
		
		<!-- Time and timepicker -->
		<button *ngIf="note.notificationDate"
			class="btn btn-outline-dark btn-sm"
			[ngbPopover]="popTime" container="body"
			placement="right"
			(click)="selectDateTime()"
			[disabled]="isDisabled()">
			<span class="material-icons">query_builder</span>
			{{note?.notificationDate | date: 'HH:mm'}}
		</button>
		
		<!-- Delete notification -->
		<button *ngIf="note.notificationDate"
			class="btn btn-dark btn-sm"
			(click)="clearNotification()"
			[disabled]="isDisabled()">
			<span class="material-icons">clear</span>
		</button>
	</div>
	
	<!-- Delete note -->
	<p *ngIf="(note.description || note.notificationDate) && !isDisabled()" class="material-icons app-delete-icon" (click)="deleteNote()">delete</p>
</div>


