<!-- TODO:
I know, it's bad practice to place the same piece of HTML
(every if it in form of component)
in every template to be visible in whole applicatiaion,
but there are bugs with it (because of Bootstrap Carousel,
in other cases it works great if placed in index.html
right after <app-root>). I haven't solution to this
problem so far, so this awfull code will be there, till
I solve this. -->
<footer class="footer">
	<div class="container-fluid">
		<p class="text-center text-info">
			<i>Alexandr Abaev&nbsp;|	lowrydertrue@gmail.com |</i>&nbsp;
			<a href="https://github.com/abaev/notes" target="_blank">
				<img src="../../assets/images/GitHub-Mark-32px.png" alt="">
			</a>
  	</p>
	</div>
</footer>