<div class="container-fluid">
	<div class="row justify-content-md-center align-items-center app-h-wo-footer">
		<div class="col-xs-12 col-md-4 app-padding-t-b app-border app-margin-l-r">
			<form #addUserForm="ngForm">
				<h2 class="text-center text-primary display-4">Notes</h2>
				<p class="lead"><b>Registration</b></p>
			  <div class="form-group">
			    <label for="username">Username</label>
			    <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="" [(ngModel)]="username" required maxlength="72" name="username" #usernameState="ngModel"
			    [ngClass]="errorClasses">
			  </div>
			  <div class="form-group">
			    <label for="password">Password</label>
			    <input type="password" class="form-control" id="password" placeholder="" [(ngModel)]="password" required maxlength="72" name="password" #passwordState="ngModel"
			    [ngClass]="errorClasses">
			  </div>
				
				<!-- Error messages -->
				<small>
				  <p class="text-danger">{{addUserError}}</p>
				  <p class="text-danger" *ngIf="userInputError
				  	&& (usernameState.untouched && passwordState.untouched)">
				  	{{userInputError}}
				  </p>
				  <p class="text-danger" *ngIf="(usernameState.invalid
				  	&& (usernameState.touched || passwordState.touched))
				  	|| (passwordState.invalid &&
				  	(usernameState.touched || passwordState.touched))">
				  	Please, type your username and password
				  </p>
				</small>

			  <button type="submit" [disabled]="(usernameState.invalid
			  	&& (usernameState.touched || passwordState.touched))
			  	|| (passwordState.invalid && (usernameState.touched
			  	|| passwordState.touched))"
			  	class="btn btn-outline-primary" (click)="addUser();">Sign up
			  </button>&nbsp;&nbsp;
			  <a routerLink="/login" routerLinkActive="active" class="btn btn-outline-danger">Cancel</a>

			</form>
		</div>
	</div>
</div>
