<div class="container-fluid">
	<div class="row justify-content-md-center align-items-center app-h-wo-footer">
		<div class="col-xs-12 col-md-4 app-padding-t-b app-border app-margin-l-r">
			<form #loginForm="ngForm">
				<h2 class="text-center text-primary display-4">Notes</h2>
				<p class="lead"><b>Log in</b></p>
			  <div class="form-group">
			    <label for="username">Username</label>
			    <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="" [(ngModel)]="username" required name="username" #usernameState="ngModel"
			    [ngClass]="errorClasses">
			  </div>
			  <div class="form-group">
			    <label for="password">Password</label>
			    <input type="password" class="form-control" id="password" placeholder="" [(ngModel)]="password" required name="password" #passwordState="ngModel"
			    [ngClass]="errorClasses">
			  </div>
				
				<!-- Error messages -->
			  <small>
			  	<p class="text-danger">{{loginError}}</p>
  			  <p class="text-danger" *ngIf="userInputError
  			  	&& (usernameState.untouched && passwordState.untouched)">
  			  	{{userInputError}}
  			  </p>
  			  <p class="text-danger" *ngIf="(usernameState.invalid
  			  	&& (usernameState.touched || passwordState.touched))
  			  	|| (passwordState.invalid &&
  			  	(usernameState.touched || passwordState.touched))">
  			  	Please, type your username and password
  			  </p>
  			</small>
				
				<div>
				  <button type="submit" [disabled]="(usernameState.invalid
				  	&& (usernameState.touched || passwordState.touched))
				  	|| (passwordState.invalid && (usernameState.touched
				  	|| passwordState.touched))"
				  	class="btn btn-outline-primary" (click)="login();">
				  	Log in
				  </button>&nbsp;&nbsp;
				  <a routerLink="/adduser" routerLinkActive="active" class="text-secondary">Sign up</a>
			 	</div>
			  
			  <a [href]="conf.serverUrl + 'auth/google'" class="btn btn-outline-secondary app-margin-top">
			  	<img src="../../assets/images/32px-Google_G_Logo.png" alt="">
			  	Sign in with Google
			  </a>
			</form>
		</div>
	</div>
	<app-footer></app-footer>
</div>

