.app-vi-header {
	color: orange;
}

.app-ai-header {
	color: teal;
}

.app-wal-header {
	color: #0a0;
}

.app-l-header {
	color: silver;
}

.app-carousel-control {
	top: 5%;
	height: 10%;
	opacity: 1 !important;
}

/*Redefine Bootstrap's previous and next controls*/
.app-carousel-control-prev-0 {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='orange' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");  
}

.app-carousel-control-prev-1 {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='teal' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");  
}

.app-carousel-control-prev-2 {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230a0' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");  
}

.app-carousel-control-prev-3 {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='silver' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");  
}

.app-carousel-control-next-0 {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='orange' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.app-carousel-control-next-1 {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='teal' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.app-carousel-control-next-2 {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230a0' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.app-carousel-control-next-3 {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='silver' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

@media (min-width: 768px) {

	app-note {
		padding-left: 0px !important;
	}

	app-note:first-child {
		padding-left: 30px !important;
	}

	app-note:last-child {
		padding-right: 30px !important;
	}

	.app-exit-del-button {
		padding-left: 15px !important;
	}

	.app-exit-del-button {
		padding-right: 15px !important;
	}
}

@media (max-width: 767px) {

	app-note:not(:first-child) {
		margin-top: 15px;
	}
}

@media (max-width: 576px) {
	.app-button-delete {
		margin-top: 15px !important;
	}
}

/*Fix align bugs inside buttons caused by Google Icon*/
button {
	display: flex;
	flex-direction: row;
	align-content: center;
	overflow: hidden;
}

button p {
	display: flex;
	align-content: center;
	margin-bottom: 0px !important;
	margin: auto auto;
}
/*- - - - - - -*/

.app-allow-v-scroll {
	/*Allow vertical scroll and swipe left-right except iOS
	(iOS supported only touch-action: auto; or
	touch-action: manipulation;)*/
	touch-action: pan-y !important;
}

.app-allow-v-scroll-ios {
	/*Allow vertical scroll on iOS devices, but bloks swipe*/
	touch-action: auto !important;
}
